$color-primary: #5680e9;
$color-primary-light: #5ab9ea;
$color-primary-dark: #8860d0;
$color-teal: #84ceeb;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary: #55c57a;
$color-tertiary-dark: #28b485;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #f2f2f2;
$color-gray: #c1c8e4;
$color-dark-gray: #777;
$color-dark-gray-2: #999;
$color-dark-gray-3: #333;
$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;